@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@300&family=Oswald:wght@500&family=Playfair+Display+SC:wght@400;700&family=Poppins:wght@200&display=swap');

body {
    margin: 0;
    font-family: 'Playfair Display SC', serif;
    background: #060606;
    
}

.bg {
    height: 100vh;
    background-size: cover;
    margin-top: -2.5vh;
    opacity: 15%;
}

svg {
    width: 1em;
    margin: 2em auto;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    color: white;
    text-align: center;
    padding-top: 30px;
}

.content h1 {
    margin-bottom: 0;
    font-family: 'Playfair Display SC', serif;
    font-style: bold;
    font-weight: 400;
    font-size: 60px;
}

.content p {
    font-family: 'Playfair Display SC', serif;
    text-transform: uppercase;
    letter-spacing: 0.7em;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    margin-top: -4px;
}

.content .text-reveal {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 1.5s;
    transform: translateY(-3em);
}

.content .text-reveal h2{
   margin-bottom: -30px;
}

.label-projects{
    opacity: 0;
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    padding-top: 35px;

}

.envelope-locations{
    display: inline;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.locations-container {
    
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -38vh;
}

.label-projects h2{
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
    transform: translateY(15em);
}

.locations-container .info {
    background: white;
    padding: 3em;
    position: relative;
    margin-top: -.5em;
    height: 100%;
 }

.info .sobrepor{
    background: rgb(232, 0, 0);
    padding: 3em;
    position: relative;
    margin-left: -3em;
    height: 0%;
    width: 100%;
 }

.info .title {
    font-size: 2rem;
    margin-top: -.5em;
    margin-bottom: 2.5em;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
}

.info .year {
    margin-top: -1em;
    font-family: 'Poppins', sans-serif;
    color: rgb(46, 46, 46);
}

.local p{
    margin-top: -4em;
}

.local {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
    transform: translateY(2em);
    position: relative;
    flex: 1 0.5 500px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.local:hover{
    cursor: pointer;
}

.sobrepor{
    transition: 1s;
    position: fixed;
    width: 100%;
    height: 0%;
    top: 0;
    opacity: 85%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.local:hover .sobrepor{
    transition: 1s;
    background-color: rgb(29, 27, 60);
    height: 100%;

}

.labels .tag{
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-style: bold;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    margin-top: -15px;
    margin-bottom: 20px;

}

.labels h1{
    font-size: 32px;
}

.labels a{
    margin-top: 50px;
    border-bottom: solid 1px #ffffff;

}

.labels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 60%;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s;
    transition: '.label' 2.5s;
}

.labels label{
    font-family: 'Poppins', sans-serif;
}

.local:hover .labels{
    opacity: 1;
    transform: translateY(0px);
}

.content-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 24vh;
}

.content-about .inner-about{
    color: #fff;
}

.inner-about h1{
    margin-bottom: 0;
    font-family: 'Playfair Display SC', serif;
    font-style: bold;
    font-weight: 400;
    font-size: 60px;
    opacity: 0;
}

.inner-about p{
    font-family: 'Playfair Display SC', serif;
    text-transform: uppercase;
    letter-spacing: 0.7em;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    margin-top: -4px;
    opacity: 0;
}

.myself{
    display: flex;
    gap: 60px;
    margin-top: -4vh;
}

.myself .informations{
    max-width: 35%;
    width: 100%;
    color: #fff;
    text-align: left;
}

.myself .informations h1{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px; 
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #FFFFFF;
}

.myself .informations{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #e6880e;
    background-clip: text;
    
}

.myself .informations .description{
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.leonardo-instagram{
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

.content-about .myself{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    margin-top: 30vh;
}

.content-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content-contact .inner-contact{
    color: #fff;
}

.inner-contact h1{
    margin-bottom: 0;
    font-family: 'Playfair Display SC', serif;
    font-style: bold;
    font-weight: 400;
    font-size: 60px;
    opacity: 0;
}

.inner-contact p{
    font-family: 'Playfair Display SC', serif;
    text-transform: uppercase;
    letter-spacing: 0.7em;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    margin-top: -4px;
    opacity: 0;
}

.icon-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon-contact a{
    transition: 1s;
}

.icon-contact a:hover{
    transition: all 1s;
    transform: translateY(-12%);
}

.email-icon{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -27px;
}

.links{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: -90px;
}

.socials{
    border-radius: none;
    width: 40px;
    height: 40px;
}

.plane-icon{
    border-radius: none;
    width: 30px;
    height: 30px;
}

/* RESPONSIVIDADE */

@media (max-width: 844px){
    .locations-container {
        margin-top: -34vh;
    }
}

@media (max-width: 697px){
    .content-about .myself{
        flex-direction: column;
    }

    .myself .informations{
        max-width: 60%;
    }
}

@media (max-width: 645px){
    .locations-container {
        margin-top: -32vh;
    }
}

@media (max-width: 518px){
    .locations-container {
        margin-top: -27vh;
    }
}

@media (max-width: 496px){
    .local{
        flex: 1 0.5 100%;
    }
    .inner-contact h1{
        font-size: 50px;
    }
    .inner-contact p{
        font-size: 22px;
    }

    .content h1{
        font-size: 50px;
    }

    .label-projects{
        font-size: 21px;
    }
}
