body {
    margin: 0;
    font-family: 'Playfair Display SC', serif;
    background: rgb(17, 17, 17);
    
}

.bg {
    height: 100vh;
    background-size: cover;
    margin-top: -2.5vh;
    opacity: 15%;
}

svg {
    width: 1em;
    margin: 2em auto;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    color: white;
    text-align: center;
    padding-top: 30px;
}

.content h1 {
    margin-bottom: 0;
    font-family: 'Playfair Display SC', serif;
    font-style: bold;
    font-weight: 400;
    font-size: 60px;
}

.content p {
    font-family: 'Playfair Display SC', serif;
    text-transform: uppercase;
    letter-spacing: 0.7em;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    margin-top: -4px;
}

.content .text-reveal {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 1.5s;
    transform: translateY(-3em);
}

.content .text-reveal h2{
   margin-bottom: -30px;
}

.label-projects{
    opacity: 0;
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    padding-top: 35px;

}

.envelope-locations{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.locations-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    top: 62vh;
}

.label-projects h2{
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
    transform: translateY(15em);
}

.locations-container .info {
    background: white;
    padding: 3em;
    position: relative;
    margin-top: -.5em;
    height: 100%;
 }

.info .sobrepor{
    background: rgb(232, 0, 0);
    padding: 3em;
    position: relative;
    margin-left: -3em;
    height: 0%;
    width: 100%;
 }

.info .title {
    font-size: 2rem;
    margin-top: -.5em;
    margin-bottom: 2.5em;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
}

.info .year {
    margin-top: -1em;
    font-family: 'Poppins', sans-serif;
    color: rgb(46, 46, 46);
}

.local p{
    margin-top: -4em;
}

.local {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
    transform: translateY(2em);
    position: relative;
    flex: 1 0.5 500px;
}

img {
    width: 100%;
    height: 18em;
    object-fit: cover;
}

.local:hover{
    cursor: pointer;
}

.sobrepor{
    transition: 1s;
    position: fixed;
    width: 100%;
    height: 0%;
    top: 0;
    opacity: 85%;
    z-index: 9999;
}

.local:hover .sobrepor{
    transition: 1s;
    background-color: rgb(29, 27, 60);
    height: 100%;

}